@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100%;
    font-family: 'Poppins';
    overflow-x: hidden;
}

video {
    width: 100%;
    position: absolute;
    z-index: -9999;
    top: 0;
    left: 0;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
    color: white;
}

section {
    height: 100vh;
    width: 100%;
    border: 1px solid #ffffff
}

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    width: 100%;
}
